### 판다스 데이터 구조

### 시리즈

In [3]:
import pandas as pd

In [27]:
sd1 = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey']
               , index = [1, 2, 3, 4, 5])

In [28]:
sd1

1       Dog
2       Cat
3     Tiger
4      Lion
5    Monkey
dtype: object

In [33]:
dict_data = {"a" : 1, "b" : 2, "c" : 3}

In [34]:
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [35]:
type(dict_data)

dict

In [36]:
sd2 = pd.Series(dict_data)

In [37]:
sd2

a    1
b    2
c    3
dtype: int64

In [41]:
type(sd1)
type(sd2)

pandas.core.series.Series

### 리스트를 시리즈로 변환

In [42]:
list_data = ['Dog', 'Cat', 'Tiger']

In [45]:
sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [46]:
type(sd3)

pandas.core.series.Series

### 튜플을 시리즈로 변환

In [49]:
tup1 = ('이순신', '1991-03-15', '남자')
tup1

('이순신', '1991-03-15', '남자')

In [50]:
type(tup1)

tuple

In [52]:
user_index = ['이름', '생년월일', '성별']
sd4 = pd.Series(tup1
               , index = user_index)
sd4

이름             이순신
생년월일    1991-03-15
성별              남자
dtype: object

### 데이터 프레임 만들기

### 딕셔너리를 데이터 프레임으로 변환

In [60]:
animals = {"동물" : ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey']
           , "나이" : [7, 9, 2, 3, 1]}
animals

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [61]:
type(animals)

dict

In [64]:
animals_df = pd.DataFrame(animals)
animals_df

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [65]:
type(animals_df)

pandas.core.frame.DataFrame

### 리스트를 데이터프레임으로

In [66]:
list_data = [  ['Dog', 7]
             , ['Cat', 9]
             , ['Tiger', 2]
             , ['Lion', 3]
             , ['Monkey', 1] ]
list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [80]:
colnames = ["동물", "나이"]
df2 = pd.DataFrame(list_data
                  , columns = colnames)
df2

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [81]:
type(df2)

pandas.core.frame.DataFrame

In [84]:
df2.dtypes # 함수가 아니다. 괄호가 없다. 속성이다. 속성은 괄호가 붙지 않는다.

동물    object
나이     int64
dtype: object

### 빈 데이터 프레임 생성

In [86]:
df_null = pd.DataFrame()
df_null

Empty DataFrame
Columns: []
Index: []

In [87]:
type(df_null)

pandas.core.frame.DataFrame

In [89]:
df_null["동물"] = 'Dog'
df_null

Empty DataFrame
Columns: [동물]
Index: []